[importlinter]
include_external_packages = True
root_packages =
    core
    adapters
    engine
    persistence
    server
    services
    plugins
    launcher

[importlinter:contract:core-is-isolated]
name = core tidak boleh import lapisan lain
type = forbidden
source_modules = core
forbidden_modules = adapters, engine, server, persistence, services, plugins, launcher

[importlinter:contract:adapters-only-import-core]
name = adapters hanya boleh import core
type = forbidden
source_modules = adapters
forbidden_modules = engine, server, persistence, services

[importlinter:contract:persistence-only-import-core]
name = persistence hanya boleh import core
type = forbidden
source_modules = persistence
forbidden_modules = adapters, engine, server, services

[importlinter:contract:plugins-only-import-core]
name = plugins hanya boleh import core
type = forbidden
source_modules = plugins
forbidden_modules = server, launcher
